.profile-img{
  border:1px solid black;
  border-radius: 100%;
}
.header-custom{
  font-size: 40px;
  text-align: center;
  font-family: 'Abril Fatface',cursive;
  color: #276678;
}
.sub-header-custom{
  font-size:25px;
}
.name-custome{
  font-size: 45px;
  color: #276678;
  font-family: 'Abril Fatface',cursive;
}
.info-custom{
  text-align: center;
}
.header-content{
  font-family: 'Abril Fatface', cursive;
}
.skills-custom{
  color:whitesmoke;
}
.about-me-custom{
  color:whitesmoke
}
.personal-info-custom{
  text-align: center;
  margin-left: 6px;
}
